@import 'normalize';
@import 'webflow';
@import 'phpvcr.webflow';

p, li {
    font-size: 14px;
    line-height: 23px;
}

h3 {
    margin-bottom: 10px;
}

a {
    color: #848999;
}

li {
    line-height: 26px;
}

code {
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    color: white;
    display: block;
    padding: 10px;
}

li > code,
a > code,
p > code {
    display: inline;
    padding: 2px 6px 4px 6px;
    border-radius: 5px;
}