<div class="section grey footer-section" id="page-nav-Customers">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 left-footer-column">
          <p class="footer-text">PHP-VCR</p>
        </div>
        <div class="w-col w-col-6 right-footer-col">
          <div class="w-hidden-small w-hidden-tiny footer-text">Contact:</div>
          <a class="w-clearfix w-inline-block social-icon first" href="mailto:mail@ap.my1.cc?subject=php-vcr">
            <img class="social" src="/img/35ec5a20-6309-494a-9d48-0e463a4d6214_14-social-email.png" width="30px" alt="35ec5a20-6309-494a-9d48-0e463a4d6214_14-social-email.png">
          </a>
          <a class="w-inline-block social-icon" href="http://facebook.com/webflow" target="_blank">
            <img class="social" src="/img/github-6-512.png" width="30" alt="github-6-512.png">
          </a>
        </div>
      </div>
    </div>
  </div>