<div class="section header">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4 company-column">
          <div class="company">PHP-VCR
            <br>
          </div>
        </div>
        <div class="w-col w-col-8 nav-column">
          <a class="nav-link" href="/#page-nav-What" target="_self">What?</a>
          <a class="nav-link" href="/#page-nav-Features" target="_self">Features</a>
          <a class="nav-link" href="/#page-nav-Documentation" target="_self">Examples</a>
          <a class="nav-link" href="/documentation" target="_self">Documentation</a>

          <a class="w-inline-block button header-button" href="#">
            <img class="social" src="/img/github-6-512.png" width="30" alt="github-6-512.png">
            <div class="button-text">GITHUB</div>
          </a>
        </div>
      </div>
    </div>
  </div>